/validator_reports/**
/transmitter_source/**
/transmitter_sent_messages/**
/simulator_saved_messages/**
/messages_for_validation/**
/logs/**
/all_evidence/**
/certs/**
version_string.txt
push_scr_simulator_to_dockerhub.sh
